<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link href="/static/css/main.css" rel="stylesheet" type="text/css">
</head>
<body id="body">

  <div id="monitor"></div>
  <div class="d3-monitor" ></div>
  <script type="text/javascript" src="/static/bundle.js">
  </script>
</body>
</html>
